<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
                    Welcome back {{ userFullName}}!
                </div>
                <div>
                    <table>
                        <tr *ngFor="">
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
